* {
    font-family: "Gallant12", "FantasqueSansM Nerd Font Mono", sans-serif;
    font-size: 12px;
}

window#waybar {
    background: #272E33;
}

#tray {
    background: transparent;
    padding: 2px 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

tooltip {
    background: #272E33;
    border: 1px solid rgba(92, 106, 114, 0.2);
    border-radius: 0;
    color: #5C6A72;
    font-size: 10px;
}
